textarea.form-control {
  overflow:hidden;
  resize:none;
  padding-top: 1rem;
  font-size: 15px;

  &:focus {
    background: unset;
  }
}

.attachment-delete {
  position: absolute;
  right: .5rem;
  top: 1rem;
  opacity: 0;
  transition: 250ms opacity;
  background: rgb(255 9 9 / 57%);
  z-index: 1;
}

.card {
  border-radius: 6px;
  box-shadow: 0 0 41px 4px rgb(0 0 0 / 50%);

  &:hover {
    & .attachment-delete {
      opacity: 1;
    }
  }

  .card-img-top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    min-height: 240px;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
  }

  &::after {
    background: unset;
  }
}
