<div id="hallway">
  <div class="container p-3">
    <div class="d-flex flex-wrap justify-content-center">
      <div id="cat1">
        <img src="assets/images/cat1weyes.png" />
      </div>

      <div id="cat2">
        <img src="assets/images/cat2weyes.png" />
      </div>

      <div id="giraffe">
        <img src="assets/images/giraffeweyes.png" />
      </div>

      <div id="cat3">
        <img src="assets/images/cat3weyes.png" />
      </div>

      <div id="cat4">
        <img src="assets/images/cat4weyes.png" />
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-uppercase" translate="404.h2"></h2>
    <p [innerHTML]="'404.text' | translate"></p>
  </div>
</div>
