@import "./buttons";
@import "./inputs";
@import "./cards";
@import "./utitlies";
@import "./variables";

@import "~bootstrap/scss/bootstrap";
@import "~open-iconic/font/css/open-iconic-bootstrap.min.css";
@import "~@fontsource/open-sans";
@import "~notyf/notyf.min.css";

html {
  &, body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
  }
}

.gallery-page {
  background: linear-gradient(
      180deg
    ,rgba(37,38,41,.24) 26.22%,#27292d),linear-gradient(
      0deg
    ,#171544,#171544);
}

.upload-page {
  background: linear-gradient(
      180deg
    ,rgba(39,42,51,0),#272a33),linear-gradient(
      103.89deg
    ,rgba(105,19,254,.56),rgba(1,185,107,.56));
}
