// Colors
$blue: #5c69ff;
$colors: (
  "blue": $blue
);

// Body
$body-bg: #141518;
$body-color: #fff;

// Header
$header-background: #181544;
$header-height: 11rem;

// Input
$input-bg: hsla(0,0%,100%,.25);
$input-border-color: transparent;
$input-border-radius: 3px;
$input-color: #fff;
$input-font-size: 16px;
$input-font-weight: 500;
$input-box-shadow: unset;
$input-focus-box-shadow: unset;
$input-focus-border-color: transparent;

// Button
$btn-font-size: 14px;
$btn-font-weight: 400;
$btn-border-radius: 2px;
$btn-padding-x: 1.5rem;

// Dropdown
$dropdown-bg: #53565d;
$dropdown-box-shadow: 0 9px 25px 0 rgb(0 0 0 / 78%);
$dropdown-color: #b4b9c2;
$dropdown-border-radius: 6px;
$dropdown-link-color: #b4b9c2;
$dropdown-link-active-color: #fff;
$dropdown-link-active-bg: #53565d;
$dropdown-link-hover-color: #b4b9c2;
$dropdown-link-hover-bg: hsla(0,0%,80%,.29);

// Card
$card-bg: #2e3035;
$card-border-color: transparent;

// Modal
$modal-content-bg: #141518;
$modal-content-border-color: #33353b;
$modal-footer-border-color: #33353b;
$modal-header-border-color: #33353b;

// Footer
$footer-bg: #33353b;
$footer-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
