// Body
$body-bg: rgb(46, 48, 53);
$body-color: #fff;

// Header
$header-background: #181544;
$header-height: 20rem;

// Input
$input-bg: hsla(0,0%,100%,.25);
$input-border-color: transparent;
$input-border-radius: 3px;
$input-color: #fff;
$input-font-size: 16px;
$input-font-weight: 700;
$input-box-shadow: unset;
$input-focus-box-shadow: unset;
$input-focus-border-color: transparent;
