// Body
$body-bg: rgb(46, 48, 53);
$body-color: #fff;

// Header
$header-background: #181544;
$header-height: 11rem;

// Input
$input-bg: hsla(0,0%,100%,.25);
$input-border-color: transparent;
$input-border-radius: 3px;
$input-color: #fff;
$input-font-size: 16px;
$input-font-weight: 700;
$input-box-shadow: unset;
$input-focus-box-shadow: unset;
$input-focus-border-color: transparent;

// Dropdown
$dropdown-bg: #53565d;
$dropdown-box-shadow: 0 9px 25px 0 rgb(0 0 0 / 78%);
$dropdown-color: #b4b9c2;
$dropdown-border-radius: 6px;
$dropdown-link-color: #b4b9c2;
$dropdown-link-active-color: #fff;
$dropdown-link-active-bg: #53565d;
$dropdown-link-hover-color: #b4b9c2;
$dropdown-link-hover-bg: hsla(0,0%,80%,.29);

// Card
$card-bg: #2e3035;
$card-border-color: transparent;

// Footer
$footer-bg: #33353b;
$footer-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
