:host {
  .image-title {
    color: #fff;
  }

  &:hover > .image-meta {
    background: #56585f;
  }

  .image-meta {
    background-color: #474a51;
    transition: background-color .25s;
    -webkit-transition: background-color .25s;
    overflow: hidden;

    & > .image-title {
      font-size: 14px;
    }
  }

  .video {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
}
