<div class="container">
  <ngx-masonry class="main-container row" [options]="masonryOptions" [ordered]="true">
    <div ngxMasonryItem class="masonry-item col-xxl-2 col-lg-3 col-md-4 col-sm-12 mb-4" *ngFor="let img of posts">
      <ng-container *ngIf="img.attachments; else placeholder">
        <a [routerLink]="['/gallery', img.attachments[0].url]">
          <app-image-card [image]="img"></app-image-card>
        </a>
      </ng-container>

      <ng-template #placeholder>
        <app-image-card-placeholder></app-image-card-placeholder>
      </ng-template>
    </div>
  </ngx-masonry>
</div>
