<div class="container">
  <div class="d-flex flex-row mb-3">
    <div class="d-inline-flex flex-grow-1">
      <div class="btn-group" dropdown>
        <span dropdownToggle type="button" class="dropdown-toggle text-uppercase fw-bold"
              aria-controls="dropdown-basic">
          {{ activeDropdownItem.name }} <span class="caret"></span>
        </span>

        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem" *ngFor="let item of categories">
            <a class="dropdown-item text-uppercase c-pointer"
               [class.active]="activeDropdownItem.id === item.id"
               [class.fw-bold]="activeDropdownItem.id === item.id"
               (click)="selectCategory(item)">{{ item.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ngx-masonry class="row" [options]="masonryOptions" [ordered]="true">
    <div ngxMasonryItem class="masonry-item col-xxl-2 col-lg-3 col-md-4 col-sm-12 mb-4" *ngFor="let img of items">
      <a href="#">
        <app-image-card [image]="img"></app-image-card>
      </a>
    </div>
  </ngx-masonry>
</div>
