<div class="container">
  <div class="row">
    <div class="col-xxl-8 col-xl-8 col-lg-12 col-md-12 col-sm-12">
      <div class="d-flex flex-row align-items-center">
        <div class="flex-grow-1 gallery-title">{{post.title}}</div>
        <a
          [routerLink]="['/upload', post.attachments[0].url, 'edit']"
          *ngIf="isAuthenticated"
          class="badge bg-dark text-decoration-none"
          [translate]="'edit' | translate"></a>
      </div>

      <div class="gallery-description">{{post.description}}</div>

      <ng-container *ngFor="let item of post.attachments">
        <div class="gallery-media">
          <img *ngIf="item.type.startsWith('image')" class="img-fluid image-placeholder"
               [src]="getEndpoint(item.url, item.type)"/>
          <img *ngIf="item.type.startsWith('image')" class="img-fluid" [src]="getEndpoint(item.url, item.type)"
               loading="lazy"/>

          <video *ngIf="item.type.startsWith('video')" playsinline="true" autoplay="true" class="img-fluid video" controls>
            <source type="video/mp4" [src]="getEndpoint(item.url, item.type)">
          </video>
        </div>

        <div class="gallery-description" *ngIf="item.description">{{item.description}}</div>
      </ng-container>
    </div>

    <div class="col-xxl-4 col-xl-4 col-lg-12 col-md-12 col-sm-12">
      <div class="d-flex flex-wrap">
        <ng-container *ngIf="post.tags">
          <ul class="list-unstyled gallery-tags mb-0">
            <li *ngFor="let tag of post.tags">
              <ng-container *ngIf="isAuthenticated; else guest">
              <span class="badge rounded-pill"
                    [style.background-color]="getRandomizedColors() | randomBackground"
                    [class.c-pointer]="isAuthenticated"
                    (click)="onTagClick(tag)">#{{tag.name}}</span>
              </ng-container>

              <ng-template #guest>
              <span class="badge rounded-pill"
                    [style.background-color]="getRandomizedColors() | randomBackground">#{{tag.name}}</span>
              </ng-template>
            </li>
          </ul>
        </ng-container>
      </div>
    </div>
  </div>
</div>
